# Author: yasas.wijesekara@uni-greofswald.de
# Jaeger model and training configuration for training new models and fine-tuning 
# existing models.
# model(input) -> [logits, reliability score] 

model:
  name: "jaeger_1.5M" # the trained model will be saved under this name
  experiment: "1" 
  seed: 3244534
  class_label_map:
    - class: "phage"
      label: 1
    - class: "bacteria"
      label: 0
    - class: "archaea"
      label: 2
    - class: "virus"
      label: 3
    - class: "eukarya"
      label: 4
  activation: "gelu"
  mode: "training" # or "tunning" -> freeze the representation learner and train the classifier
  embedding:
    type: "translated"             # or "nucleotide"
    strands: 2
    frames: 6
    length: null
    input_shape: [6, null, 64]     #    "nucleotide" -> [2:strand, null:length, 4:nucleotides] 
    embedding_size: 4

  string_processor: # only applicable when type:nucleotide
    codon: "CODON"
    codon_id: "CODON_ID" # AA_ID, CODON_ID, PC5_ID, MURPHY10_ID
    crop_size: 1024

  representation_learner:
    masked_conv1d_1_filters: 64
    masked_conv1d_1_kernel_size: 7
    masked_conv1d_1_strides: 1
    masked_conv1d_1_dilation_rate: 1
    masked_conv1d_1_regularizer: l2
    masked_conv1d_1_regularizer_w: 1e-4

    block_sizes: [1, 1, 1]
    block_filters: [64, 128, 256]
    block_kernel_size: [5, 5, 5]
    block_kernel_dilation: [1, 1, 1]
    block_kernel_strides: [2, 2, 2]
    block_regularizer: ["l2", "l2", "l2"]
    block_regularizer_w: [1e-4, 1e-4, 1e-4]

    masked_conv1d_final_kernel_size: 5
    masked_conv1d_final_strides: 1
    masked_conv1d_final_dilation_rate: 1
    masked_conv1d_final_regularizer: "l2"
    masked_conv1d_final_regularizer_w: 1e-4

    pooling: "max"

  classifier:
    dense_1_units: 128
    kernel_regularizer_1: "l2" # l2, l1
    kernel_regularizer_1_w: 1e-4
    classes: 5

  reliability_model:
    dense_1_units: 128
    kernel_regularizer_1: "l2" # l2, l1
    kernel_regularizer_1_w: 1e-4

  projector: # for supervised contrastive learning
    dense_1_units: 128
    kernel_regularizer_1: "l2" # l2, l1
    kernel_regularizer_1_w: 1e-4
    dropout_rate: 0.2
    dense_2_units: 128
    kernel_regularizer_2: "l2" # l2, l1
    kernel_regularizer_2_w: 1e-4

training:
  classifier_epochs: 10
  reliability_epochs: 10
  optimizer: "adam" # adam, rmsprop
  optimizer_params:
    learning_rate: 0.00005

  loss_classifier: "categorical_crossentropy"
  loss_params_classifier:
    from_logits: true

  loss_reliability: "binary_crossentropy"
  loss_params_reliability:
    from_logits: true

  # training callbacks [classifier and reliability model]
  callbacks:
    clean_old: true
    directories:
      -  "/Users/javis/Documents/Programming/Jaeger/data/experiment_{{ model.experiment }}_{{ model.seed }}/checkpoints/classifier"
      -  "/Users/javis/Documents/Programming/Jaeger/data/experiment_{{ model.experiment }}_{{ model.seed }}/checkpoints/reliability"
    classifier:
      - name: "EarlyStopping"
        params:
          monitor: "val_classifier_loss"
          patience: 5
          mode: "min"
          restore_best_weights: true
      - name: "ModelCheckpoint"
        params:
          filepath:  "/Users/javis/Documents/Programming/Jaeger/data/experiment_{{ model.experiment }}_{{ model.seed }}/checkpoints/classifier/epoch:{epoch:02d}-loss:{classifier_loss:.2f}.weights.h5"
          monitor: "classifier_loss"
          mode: "min"
          save_weights_only: true
          verbose: 1
          save_best_only: false
      - name: "TerminateOnNaN"
      - name: "CSVLogger"
        params:
          filename: "/Users/javis/Documents/Programming/Jaeger/data/experiment_{{ model.experiment }}_{{ model.seed }}/checkpoints/classifier/training.log"
          separator: ","
          append: false
        callbacks:
    reliability:
      - name: "EarlyStopping"
        params:
          monitor: "reliability_loss"
          patience: 5
          mode: "min"
          restore_best_weights: true
      - name: "ModelCheckpoint"
        params:
          filepath:  "/Users/javis/Documents/Programming/Jaeger/data/experiment_{{ model.experiment }}_{{ model.seed }}/checkpoints/reliability/epoch:{epoch:02d}-loss:{reliability_loss:.2f}.weights.h5"
          monitor: "reliability_loss"
          mode: "min"
          save_weights_only: true
          verbose: 1
          save_best_only: false
      - name: "TerminateOnNaN"
      - name: "CSVLogger"
        params:
          filename: "/Users/javis/Documents/Programming/Jaeger/data/experiment_{{ model.experiment }}_{{ model.seed }}/checkpoints/reliability/training.log"
          separator: ","
          append: false

  model_saving:
    path : "/Users/javis/Documents/Programming/Jaeger/data/experiment_{{ model.experiment }}_{{ model.seed }}/model"
    save_weights : true #saves layer-wise weights
    save_exec_graph: true #saves the model in tf saved_model format

# separate files per-class or a file with all classes
# path, label and class should be defined per file
# if all data is in a single file prove a list of class
  fragment_classifier_data:
    train:
      - class: [bacteria, phage, archaea, virus, eukarya]
        path:
          - "path_to_combined_file"
        label: [0, 1, 2, 3, 4]
      # - class: bacteria
      #   path: "path/to/bac"
      #   label: 0
      #   fragment_length: 1024
      # - class: phage
      #   path: "path/to/phage"
      #   label: 1
      #   fragment_length: 1024
      # - class: archaea
      #   path:
      #   label: 2
      #   fragment_length: 1024
      # - class: virus
      #   path:
      #   label: 3
      #   fragment_length: 1024
      # - class: eukarya
      #   path:
      #   label: 4
      #   fragment_length: 1024

    validation:
      - class: [bacteria, phage, archaea, virus, eukarya]
        path:
          - "path_to_combined_file"
        label: [0, 1, 2, 3, 4]
      # - class: bacteria
      #   path: "path/to/bac"
      #   label: 0
      #   fragment_length: 1024
      # - class: phage
      #   path: "path/to/phage"
      #   label: 1
      #   fragment_length: 1024
      # - class: archaea
      #   path:
      #   label: 2
      #   fragment_length: 1024
      # - class: virus
      #   path:
      #   label: 3
      #   fragment_length: 1024
      # - class: eukarya
      #   path:
      #   label: 4
      #   fragment_length: 1024

  contig_classifier_data:
    train:
      - class: [bacteria, phage, archaea, virus, eukarya]
        path:
          - "path_to_combined_file"
        label: [0, 1, 2, 3, 4]
      # - class: bacteria
      #   path: "path/to/bac"
      #   label: 0
      #   fragment_length: 1024
      # - class: phage
      #   path: "path/to/phage"
      #   label: 1
      #   fragment_length: 1024
      # - class: archaea
      #   path:
      #   label: 2
      #   fragment_length: 1024
      # - class: virus
      #   path:
      #   label: 3
      #   fragment_length: 1024
      # - class: eukarya
      #   path:
      #   label: 4
      #   fragment_length: 1024

    validation:
      - class: [bacteria, phage, archaea, virus, eukarya]
        path:
          - "path_to_combined_file"
        label: [0, 1, 2, 3, 4]
      # - class: bacteria
      #   path: "path/to/bac"
      #   label: 0
      #   fragment_length: 1024
      # - class: phage
      #   path: "path/to/phage"
      #   label: 1
      #   fragment_length: 1024
      # - class: archaea
      #   path:
      #   label: 2
      #   fragment_length: 1024
      # - class: virus
      #   path:
      #   label: 3
      #   fragment_length: 1024
      # - class: eukarya
      #   path:
      #   label: 4
      #   fragment_length: 1024

  fragment_reliability_data:
    train:
      - class: [indist, ood]
        path:
          - "path_to_combined_file"
        label: [1, 0]
      # - class: indist
      #   path: "path/to/bac"
      #   label: 1
      #   fragment_length: 1024
      # - class: ood
      #   path: "path/to/phage"
      #   label: 0
      #   fragment_length: 1024

    validation:
      - class: [indist, ood]
        path:
          - "path_to_combined_file"
        label: [1, 0]
      # - class: indist
      #   path: "path/to/bac"
      #   label: 1
      #   fragment_length: 1024
      # - class: ood
      #   path: "path/to/phage"
      #   label: 0
      #   fragment_length: 1024

  contig_reliability_data:
    train:
      - class: [indist, ood]
        path:
          - "path_to_combined_file"
        label: [1, 0]
      # - class: indist
      #   path: "path/to/bac"
      #   label: 1
      #   fragment_length: 1024
      # - class: ood
      #   path: "path/to/phage"
      #   label: 0
      #   fragment_length: 1024

    validation:
      - class: [indist, ood]
        path:
          - "path_to_combined_file"
        label: [1, 0]
      # - class: indist
      #   path: "path/to/bac"
      #   label: 1
      #   fragment_length: 1024
      # - class: ood
      #   path: "path/to/phage"
      #   label: 0
      #   fragment_length: 1024