/* Must be at the very top, before any other rules */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

::-moz-selection {
    background: #efeff4;
}

::selection {
    background: #efeff4;
}

.theme-toggle-container {
    display: none;
}

body {
    font-family: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

h1 {
    font-size: 1.95rem;
    font-weight: 800;
    margin-bottom: 2.25rem;
    padding-bottom: 1.35rem;
    border-bottom: 1px solid #eeebee;
}

h2 {
    font-size: 1.45rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    margin-top: 1.8rem;
    scroll-margin-top: 0.5rem;
    padding-bottom: 0.3rem;
    /* border-bottom: 1px solid #eeebee; */
}

h3 {
    font-size: 0.75rem;
    font-weight: 800;
    margin-bottom: 0.6rem;
    margin-top: 1.25rem;
    scroll-margin-top: 0.5rem;
}

h4 {
    font-size: 0.5rem;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 0.6rem;
    scroll-margin-top: 0.5rem;
}

table {
    font-size: 15px;
    white-space: nowrap;
}

ul li {
    padding: 0.01rem;
}

.admonition {
    font-size: 15px;
}

p.admonition-title {
    font-size: 15px;
    font-weight: 800;
}

label.sd-tab-label {
    font-size: 100%;
}

.brand {
    font-weight: 800;
}

.sidebar-tree {
    font-size: 0.85rem;
}

.toc-tree,
.toc-title {
    font-size: 0.85rem;
}

.toc-title {
    text-transform: none;
    font-weight: 800;
}
table td, table th {
    white-space: normal !important;
    word-wrap: break-word;
}
